<mat-toolbar color="primary" class="header">
    <div>CRUD</div>
    <span class="example-spacer"></span>

    <button mat-icon-button class="code-icon" (click)="abrirGithub()">
        <mat-icon>code</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="'side'" [opened]="true">
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" [routerLink]="'/pessoas'">
                <mat-icon>format_list_bulleted</mat-icon> Pessoas
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>